*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{

   --active-border:linear-gradient(hsl(249,99%,64%),hsl(278,94%,30%));
    --red-error:hsl(0,100%,66%);
    --color-gray-light:#dedddf;
    --color-gray-dark:#8d8990;
    --color-violet-light:hsl(278,68%,11%);
    --border-radius:2em;
    font-size: 18px;
}
body{
   
    font-family: 'Space Grotesk', sans-serif;
}
main{
    height: 100%;
    height: 98vh;
    background-color: #fff;
}
.image-box{
    background-image: url('./images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}
.card-back_bg,.card-front_bg{
    width: 12rem;
    display: block;
    
}
.content-container{
    padding: .8em;
    position: relative;
}
.cards{
    position: absolute;
    width: 100%;
    top: -150px;
   
}

.card-front > *:not(.card-front_bg){
    position: absolute;
}
.card-back,.card-front {
    position: absolute;
    color: #fff;
    font-weight: 500;
    --padding:1rem
    
}
.card-back{
    /* right: 0; */
    left:6rem;
    box-shadow: 7px 0px 8px 5px rgba(222,221,223,0.35);
}
.card-front{
    z-index: 2;
    margin-top: 4rem;
    box-shadow: 7px 0px 8px 5px rgba(222,221,223,0.35);

}
.card-front_logo{
    left: var(--padding);
    top: var(--padding);
    width: 3rem;
}
.card-front_number{
    left: var(--padding);
    top: 50%;
    font-size: .9rem;
}
.card-front_date{
    right: var(--padding);
    bottom: var(--padding);
    font-size: .8rem;
}
.card-front_name{
    left: var(--padding);
    bottom: var(--padding);
    font-size: .8rem;
}

.card-back_cvc{
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    right: var(--padding);
}



/* -------------forms-------------- */
.form-container{
    /* width: 100%; */
    /* height: 100%; */
   
    
    position: relative;
   
}
#level2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#level2 img{
    margin-bottom: 1.5rem;
}
#level2 h2{
    margin-bottom: 1.5rem;
    color: var(--color-violet-light);
}
#level2 p{
    margin-bottom: 1.5rem;
    color: var(--color-gray-dark);
}
.level{
  position: absolute;
  margin-top: 2rem;
  padding: 1rem;

}
.input-group.error input{
    border: 1px solid var(--red-error);
}

.input-group.valid input{
    border: 1px solid var(--color-violet-light);
}
.input-group.valid i{
    color: var(--color-violet-light);
}
.input-group{
    display: flex;
    flex-direction: column;
    color: var(--color-violet-light);
    margin-bottom: 1rem;
    font-weight: 500;
    
}
label{
    font-size: 1.1rem;
    margin-bottom: .3rem;
}
.input-group input{
    outline: none;
    height: 3em;
    padding: 1em;
    font-weight: 500;
    font-size:1rem;
    border: 1px solid var(--color-gray-dark);
    border-radius: 5px;
}
.input-group span{
    color: var(--red-error);
    font-size: .8rem;
    margin-top: .4rem;
}
.row, .row .input{
    display: flex;
    flex-direction: row;
}
.input input{
    width: 4rem;
    margin-right: 1rem;
}
.row .input-group:last-child{
    margin-left: 1rem;
}
.row .input-group:last-child input{
    width: 6rem;
    
}
.button{
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-violet-light);
    padding: .4em;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (min-width:375px){
    .image-box{
        max-width: 30%;
        height: 98vh;
        background-image: url('./images/bg-main-desktop.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container{
        display: flex;
    }
    .card-back_bg,.card-front_bg{
        width:20rem;
        
    }

    .content-container{
        padding: .8em;
        width: 80%;
        position: static;
        
        display: flex;

    }
    .cards{
        position: static;
        width: 20%;
        
        top: 0;
    
    }

    .card-front > *:not(.card-front_bg){
        position: absolute;
    }
    .card-back,.card-front {
        position: absolute;
        color: #fff;
        font-weight: 500;
        --padding:1.5rem
        
    }
    .card-back{
        top:50%;
        
        left: 20%;
    }
    .card-front{
       z-index: revert;
       left:10%;


    }
    .card-front_logo{
        left: var(--padding);
        top: var(--padding);
        width: 3.2rem;
    }
    .card-front_number{
        left: var(--padding);
        top: 50%;
        font-size: 1.4rem;
    }
    .card-front_date{
        right: var(--padding);
        bottom: var(--padding);
        font-size: 1rem;
    }
    .card-front_name{
        left: var(--padding);
        bottom: var(--padding);
        font-size: 1rem;
    }

    .card-back_cvc{
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
        right: 2rem;
    }



    /* -------------forms-------------- */
    .form-container{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 10;
     
        display: flex;
        align-items: center;
        justify-content: center;
       
    
    }
    .level{
    position: absolute;
    margin-top: 2rem;
    padding: 1rem;

    }
    .input-group{
        display: flex;
        flex-direction: column;
        color: var(--color-violet-light);
        margin-bottom: 1rem;
        font-weight: 500;
        
    }
    label{
        font-size: 1.1rem;
        margin-bottom: .3rem;
    }
    .input-group input{
        outline: none;
        height: 1.5em;
        padding: 1em;
        font-weight: 500;
        font-size:1rem;
        border: 1px solid var(--color-gray-dark);
        border-radius: 5px;
    }
    .input-group span{
        color: var(--red-error);
        font-size: .8rem;
        margin-top: .4rem;
    }
    .row, .row .input{
        display: flex;
        flex-direction: row;
    }
    .input input{
        width: 4rem;
        margin-right: 1rem;
    }
    .row .input-group:last-child{
        margin-left: 1rem;
    }
    .row .input-group:last-child input{
        width: 6rem;
        
    }
    .button{
        width: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-violet-light);
        padding: .4em;
        border-radius: 5px;
        font-size: 1.4rem;
        font-weight: 500;
    }

}